.containerDetail {
    margin-top: 20px; /* Reduce el espacio superior */
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 8px; /* Reduce la separación entre las columnas */
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.imageContainer img {
    max-width: 100%;
    height: auto;
}

.productDetail {
    list-style: none;
    height: 100%;
    border: 1px solid rgb(214, 214, 214);
    padding: 10px; /* Reduce el padding general */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.productDetail h4 {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.productDetail h5 {
    margin-bottom: 5px; /* Reduce el margen entre los títulos */
}

.tarjetas {
    width: 250px;
    margin-top: 5px; /* Reduce el margen superior de las tarjetas */
}

.containerDetail h6 {
    padding: 5px 10px; /* Reduce el padding alrededor del texto de las cuotas */
    margin-top: 5px;
    background-color: #919191;
    color: white;
    display: inline-block;
    font-size: 14px;
    width: auto;
}

.cuotas {
    margin-top: 5px;
    margin-bottom: 20px; /* Reduce el espacio entre las cuotas y los otros elementos */
}

.containerDetail button {
    background-color: black;
    color: white;
    border: none;
    padding: 8px; /* Mantén el padding del botón compacto */
    width: 100%;
    margin-top: 25px; /* Reduce el espacio antes del botón */
}

p {
    margin-top: 10px; /* Reduce el margen antes de la descripción */
}

hr {
    margin-top: 20px; /* Mantén un espacio reducido antes de la línea divisoria */
    margin-bottom: 15px; /* Mantén un espacio reducido después de la línea divisoria */
}


.code {
    font-size: 13px;
    color: #747474;
}

.category {
    margin-top: 20px;
}