/* Estilo general del footer */
footer {
    background-color: black;
    width: 100%;
    padding: 40px 0; /* Ajusta el padding para mayor espacio y equilibrio */
    text-align: center;
    color: white;
}

footer h6 {
    font-size: 11px;
    margin-top: 60px;
    color: white;

}

/* Estilos para las redes sociales */
.social-media {
    margin: 20px 0; /* Añade espacio entre elementos */
}

.social-media a {
    display: inline-block;
    margin: 0 10px; /* Espacio entre iconos */
    transition: transform 0.3s ease; /* Animación suave para hover */
}

.social-media a:hover {
    transform: scale(1.1); /* Aumenta el tamaño al pasar el cursor */
}

.social-media img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1); /* Hace que los iconos sean blancos */
}

/* Estilos para la información de contacto */
.contact-info {
    margin: 20px 0;
    font-size: 14px;
}

.contact-info p {
    margin: 5px 0;
    color: white;
}

/* Estilos para las imágenes de métodos de pago */
footer img {
    width: 880px;
    margin-top: 30px;
}

/* Estilos responsivos para dispositivos móviles */
@media (max-width: 768px) {
    footer {
        height: auto; /* Ajusta el tamaño del footer para pantallas pequeñas */
        padding: 20px 0;
    }

    .social-media img {
        width: 25px;
        height: 25px;
    }

    footer h6 {
        margin-top: 20px;
    }

    .contact-info p {
        font-size: 12px;
    }
}
